@model IEnumerable<CodefluxNews.Models.Country>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Countries</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Country Name")
        </th>
        <th>
            @Html.DisplayName("Country Flag")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CountryName)
        </td>
        <td>
          <img alt="@item.Logo" src="@Url.Content(item.Logo)" width="100" height="50" />
            
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CountryId }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.CountryId }) |*@
            @Html.ActionLink("Delete", "Delete",new { id = item.CountryId },new { onclick = "return confirm('Are you sure want to delete ?');" })
        </td>
    </tr>
}

</table>
