@model CodefluxNews.Models.selectNewsArticles_Result
@*@using IEnumerable<CodefluxNews.Models.selectNewsArticles_Result>*@

@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="~/Scripts/moment.js"></script>
@*<h2>Details</h2>*@

<script type="text/javascript">
    $(document).ready(function () {
        var myDate = $("#myNewTime").text();
        $('.timeHandler').empty();
        $('.timeHandler').append('<h5 id="myNewTime" class="text-muted">' + moment(myDate).fromNow() + '</h5>');
        $();
    });
</script>

<div class="container" style="margin-top:20px;">
    <div class="container" style="padding:20px;">
        <div class="row">
            <div class="col-8">
                <div>
                    <h3>@Model.Title</h3>
                    <br />
                    <div class="btn-group" style="padding:15px">
                        <div class="timeHandler">
                            <h5 id="myNewTime" class="text-muted">@Model.CreatedDate</h5>
                        </div>
                        &nbsp;| &nbsp;<a href="@Model.Url">View Full Article</a>
                    </div>
                    <br />
                    @if (!string.IsNullOrEmpty(Model.Picture))
                    {
                        <img src="@Model.Picture" alt="img" class="img-thumbnail" />
                    }
                    <h4 style="margin-top:30px">
                        @Model.Summary
                    </h4>
                </div>
                <div style="padding-top:20px">
                    <div class="col-2">
                    </div>
                    <div class="col-md-8">
                        <di class="btn-group">
                            <img src="~/Content/facebook_logo_RGB-Hex-Blue_512.png" width="40" />&nbsp;&nbsp;&nbsp;&nbsp;
                            <img src="~/Content/linkedIn_logo_PNG38.png" width="40" />&nbsp;&nbsp;&nbsp;&nbsp;
                            <img src="~/Content/twitter_logo.png" width="40" />
                        </di>
                    </div>
                    <div class="col-2">
                    </div>
                </div>
            </div>
            <div class="col-4">
                @Html.Action("_PartialNews", new List<CodefluxNews.Models.selectTop8Articles_Result>())
            </div>
        </div>
    </div>
</div>