@model CodefluxNews.Models.ParentCategory

@{
    ViewBag.Title = "CreateParentCategory";
}

<h4 class="text-center">Add Category</h4>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        

        <div class="form-group">
            @Html.Label("Category Name")
            <div class="col-md-10">
                @Html.EditorFor(model => model.ParentName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ParentName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ParentList")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
