@model IEnumerable<CodefluxNews.Models.NewsFeed>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="text-center">News Feed</h4>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Rss Url")
        </th>

        <th>
            @Html.DisplayName("Category Name")
        </th>
        <th>
            @Html.DisplayName("News Provider")
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Image)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.RssUrl)*@
            <a href="@item.RssUrl">@item.RssUrl</a>
        </td>



        <td>
            @Html.DisplayFor(modelItem => item.NewsCategory.CategoryName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.NewsProvider.Name)
        </td>
        @*<td>
            <img alt="@item.Image" src="~/UploadedImages/teslas.jpg" width="200" height="100" />
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.NewsFeedId }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.NewsFeedId }) |*@
            @Html.ActionLink("Delete", "Delete", new { id = item.NewsFeedId }, new { onclick = "return confirm('Are you sure want to delete ?');" })
        </td>
    </tr>
}

</table>
